@charset "utf-8";
/* CSS Document */

.center .cent .cent_r ul.jianjie{ width:900px; float:right;}
.center .cent .cent_r ul.jianjie p{ font-size:12px; color:#1a1a1a; font-family:"宋体"; font-weight:bold; margin:20px 0;}
.center .cent .cent_r ul.jianjie li{ font-size:12px; color:#292829; font-family:"宋体"; margin:20px 0;text-indent: 24px;line-height: 20px}
.center .cent .cent_r ul.jianjie h2{ font-size:20px; color:#0a4c2b; float:left;}
.center .cent .cent_r ul.jianjie img{ margin:25px 0;}




