@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; text-decoration:none;  font-family:"微软雅黑";}
ul,li{ list-style:none;}
h2{ font-size:24px; color:#0a0a0a; float:right; font-weight:500; margin-right:7px;}
input{ width:137px; height:34px; float:right; border:1px solid #1e7b4d;}
span.t_l{ font-size:12px; font-family:"宋体"; color:#292727; margin:14px 0; float:left;}
span.t_r{ font-size:12px; font-family:"宋体"; color:#292727; margin:14px 0; float:right;}


.center{ width:100%; margin:-22px 0 20px 0; overflow:hidden;}
.center .cent{ width:1200px; height:490px; margin:0 auto;}
.center .cent .cent_l{ width:233px; float:left; position:relative;}
.center .cent .cent_l .juxing{ width:233px; background:#055a30; padding-bottom:5px; position:absolute;}
.center .cent .cent_l .juxing h3{ font-size:20px; font-weight:400; color:#FFF; padding:15px 0 0 30px;}
.center .cent .cent_l .juxing p{ font-size:20px; color:#648a74; font-family:"MinionPro"; margin:0 0 0 30px;}
.center .cent .cent_l ul.ju_t{ border-left:1px solid #c4c4c5; border-right:1px solid #c4c4c5; border-bottom:1px solid #c4c4c5; margin:72px 0 62px 0; padding-top:5px;}
.center .cent .cent_l ul.ju_t li{ width:211px; height:38px; background:url(../images/right_2.png) no-repeat; background-position:16px center; border-bottom:1px dashed #c4c4c5; margin:0 10px -1px 10px;}
.center .cent .cent_l ul.ju_t li.news_l{ width:211px; height:38px; background:url(../images/right_1.png) no-repeat; background-position:16px center; border-bottom:1px dashed #c4c4c5; margin:0 10px -1px 10px;}
.center .cent .cent_l ul.ju_t li:hover{ background:url(../images/right_1.png) no-repeat; background-position:16px center;}
.center .cent .cent_l ul.ju_t li a:hover{ color:#055a30;}
.center .cent .cent_l ul.ju_t li a{ font-size:12px; font-family:"宋体"; color:#292829; line-height:38px; margin: 0px 0 0 36px; float:left;}
.center .cent .cent_l ul.ju_b{ border-left:1px solid #c4c4c5; border-right:1px solid #c4c4c5; border-bottom:1px solid #c4c4c5; margin-top:130px; padding-top:12px;}
.center .cent .cent_l ul.ju_b li{ width:211px; height:32px; background:url(../images/right_2.png) no-repeat; background-position:16px center; border-bottom:1px dashed #c4c4c5; margin:0 10px -1px 10px;}
.center .cent .cent_l ul.ju_b li a{ font-size:12px; font-family:"宋体"; color:#292829; line-height:32px; margin: 0px 0 0 36px; float:left;}
.center .cent .cent_l ul.ju_b li:hover{ background:url(../images/right_1.png) no-repeat; background-position:16px center;}
.center .cent .cent_l ul.ju_b li a:hover{ color:#055a30;}

.center .cent .cent_r{ width:967px; margin-top:22px; float:right;}
.center .cent .cent_r ul.cen_t{ width:900px; height:45px; float:right; border-bottom:1px dashed #c4c4c5; position:relative;}
.center .cent .cent_r ul.cen_t img{ width:15px; height:15px; margin-top:20px; float:left;}
.center .cent .cent_r ul.cen_t h2{ font-size:20px; color:#0a4c2b; margin:12px 0 0 10px; float:left;}
.center .cent .cent_r ul.cen_t li{ margin-top:18px;float: right}
.center .cent .cent_r ul.cen_t li a{ font-size:12px; font-family:"新宋体"; color:#292829; margin:0 8px;}
.center .cent .cent_r ul.cen_t li a:hover{ color:#055a30;}
.center .cent .cent_r ul.cen_t li span{ font-size:12px; color:#c1c1c1;}
.center .cent .cent_r ul.cen_t .arrow img{ width:9px; height:9px; margin:41px 0 0 787px; position:absolute;}




