@charset "utf-8";
/* CSS Document */

.center .cent .cent_r .xinxi{ width:900px; float:right;}
.center .cent .cent_r .xinxi img{ width:403px; height:301px; background:#FFF; border:1px solid #e3e3e3; margin:45px 0;}
.center .cent .cent_r .xinxi ul{ float:right; margin-top:45px;}
.center .cent .cent_r .xinxi ul li{ width:430px; font-size:12px; font-family:"宋体"; border-bottom:1px solid #bdbbbb; margin-bottom:20px; padding-bottom:5px;}
.center .cent .cent_r .xinxi h6{ width:892px; height:23px; background:#c3c3c3; font-size:12px; color:#0c0c0c; font-family:"宋体"; padding-left:8px; line-height:23px; 
margin-bottom:28px;}
.center .cent .cent_r .xinxi p{ width:724px; font-size:12px; font-family:"宋体";color:#0c0c0c; margin:18px 0 0 8px;}





