body {
	font-family: 'DroidSansRegular', Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	background-color:#90c2cb;
}
.button-action .btn, 
.brand, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'BebasNeueRegular', Helvetica, Arial, sans-serif;
	font-weight:normal;
}
h5 {font-size:16px;}
h6 {font-size:14px;}
hr {border-top-color: #dedede;}
.lead {
	font-family: 'dekarregular', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:24px;
}
.lead.center {text-align:center;}
.nav-header {font-size: 16px;}
blockquote p {
	font-family: Georgia, Helvetica, Arial, sans-serif;
	font-size:22px;
	font-style:italic;
}
blockquote small {
	font-family: Helvetica, Arial, sans-serif;
	font-size:11px;
}
address strong {
	font-family: 'YanoneKaffeesatzRegular', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:200%;
}

/*description list*/
dt {
	margin-top:10px;
	font-family: 'YanoneKaffeesatzRegular', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:20px;
}
dd {
	font-size:12px;
	position:relative;
}
dl.dl-icon dt {margin-top:25px;}
dl.dl-icon dt:first-child {margin-top:0;}

dl.dl-icon dd {margin: 10px 0 10px 50px;}
dl.dl-icon dd .icon-wrapper {
	position:absolute;
	left:-40px;
	top:0;
	font-size:26px;
}
dl.dl-icon dd .icon-wrapper.circle {
	width:30px;
	height:30px;
	font-size:16px;
	line-height:30px;
	text-align:center;
	color:#fefefe;
	background-color:#454545;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
dl.dl-icon dd .icon-wrapper.circle [class^="icon-"], 
dl.dl-icon dd .icon-wrapper.circle [class*=" icon-"], 
dl.dl-icon dd .icon-wrapper.circle [class^="micon-"], 
dl.dl-icon dd .icon-wrapper.circle [class*=" micon-"] {
	line-height: inherit;
	margin:0;
	padding:0;
}
dl.dl-icon dd p {margin:0;}

dl.dl-inline dt, dl.dl-inline dd {text-align:center;}
dl.dl-inline dt {margin-bottom:10px;}
dl.dl-inline [class^="icon-"], 
dl.dl-inline [class*=" icon-"], 
dl.dl-inline [class^="micon-"], 
dl.dl-inline [class*=" micon-"] {
	display:block;
	text-align:center;
	font-size:35px;
	margin:0;
	padding:0;
}

/***************/
ul.listing {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.listing li {
	display: inline-block;
	margin: 0 5px 10px 0;
}
ul.listing.icons li {width:200px;}
.btn-group {white-space: normal;}
.prompt {
	text-align: center;
	margin-top: 20px;
	height: 16px;
	line-height: 16px;
}
#news_list a {margin: 0 10px}
#news_list a:hover {color: #f60;}
/*page style*/
.prompt>a {
	color: #000;
}
b {margin-left: 20px}
.numb a {
	display: inline-block;
	width: 15px;
	height: 16px;
	margin: 0 5px;
	text-align: center;
	color: #000;
}
.numb a:hover {
	background: #aaaaaa;
	width: 15px;
	height: 16px;
}
.home {
	background: #aaaaaa;
	width: 15px;
	height: 16px;
}
td {
	height: 40px;
	line-height: 40px
}
#chk_all,
#un_chk,
#sub,
#add_date {
	margin-right: 10px;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-bottom: 5px
}
/*product*/
#product_list {
	display: block;
	zoom:1;
}
#product_list li img {
	width: 200px;
	height: 160px;
	margin-bottom: 10px
}
#product_list li {
	width: 200px;
	height: 200px;
	text-align: center;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border:1px solid #bbbbbb;
}
#product_list li a {color: #000}
#product_list li a:hover {text-decoration: none;}
#product_list li:hover{border-color: #f00}
#product_list li:nth-child(4n+4) {margin-right: 0};